<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\IT1-group-C\BookingApp\src" />
    <add key="DJANGO_SETTINGS_MODULE" value="BookingSystem.settings" />
</appSettings>

    <location path="" overrideMode="Allow">
        <system.webServer>
            <cgi />
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\IT1-group-C\BookingApp\venv\Scripts\python.exe|C:\inetpub\wwwroot\IT1-group-C\BookingApp\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
                <add name="StaticFiles" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
