{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of bookings</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" >
</head>
<body>
    <div id ="main_grid">
        <header>
            <a href="" class = "button">&lt Go back </a>
            <h1> List of Bookings</h1>
            <div id = "logo_image">
                <img id ='nhl_logo' src="{% static 'media/NHL_logo.png' %}" alt ="logo image">
            </div>
        </header>

        <div id = "bookings">


        </div>
        <footer>
            <a href="" id = 'log_out_button' > Logout </a>
            <a href="" class ='button' > Map </a>
        </footer>
    </div>
</body>
</html>