{% extends 'generic.html' %}
{% block head_info %}
    <title>Upload Room Schedule</title>
{% endblock %}

{% block header %}
    <a href="{% url 'index' %}">
        <div id="buttonNegative">
            <h2>< Go Back</h2>
        </div>
    </a>
    <title>Add Room</title>
{% endblock %}
{% load static %}
{% block main_content %}
    <form action = "addRoom.html" method="POST" enctype="multipart/form-data">
        <div id="form">
           {% csrf_token %}
            {{ form }}
            <p><input type="submit" id="submit"value="Add"></p>
        </div>
    </form>
{% endblock %}