{% extends 'generic.html' %}
{% load static %}

{% block head_info %}
    <title>List of Bookings</title>
{% endblock %}

{% block header %}
    <div class="buttonNegative" onclick="history.back()">
        <h2>< Go Back</h2>
    </div>
    <h1>List of Bookings</h1>
{% endblock %}

{% block main_content %}
    <div class="main">
        {% for book in bookings %}
            <table>
                <tr class="listTable">
                    <td>{{ book.date }}</td>
                    <td>{{ book.time }}</td>
                    <td>{{ book.room_id }}</td>
                    <td>
                    <form method="POST">
                        <input class="buttonForm" type="button" value="Cancel">
                    </form>
                </td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}